/* body { */
    /* background-image: url("Assets/backgroundimage3.gif"); */
    /* background-repeat: no-repeat;
    /* background-size: cover;  */
/* }  */

.statsTitle{
    font-size:20px;
    color: teal;
}

#title{
    font-size: 100px;
    color: teal;
}
.statsList{
    background-color: white;
    width: 140px;
    height: 200px;
    border: 1px solid black ;
}

.btn{
  background-color: white;
}

#ninetails{
    display:none;
    list-style:none;
}
#garchomp{
    display:none;
    list-style:none;
}
#tapu-koko{
    display:none;
    list-style:none;
}
#snorlax{
    display:none;
    list-style:none;
}
#umbreon{
    display:none;
    list-style:none;
}
#gyarados{
    display:none;
    list-style:none;
}

    